body {
  background-color: #f1f2f6;
}

.media {
  .picture {
    margin-bottom: 20px;
  }
}

.glyphicon, .likes {
  color: #4FC1E9;
}

.page-title {
  font-size: 30px;
  margin-top: 0;
}

.search-sort {
  margin-bottom: 20px;
}
